

@{
    ViewData["Title"] = "Giris";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div classNedir="bradcam_text">
                    <h3>Giriş Yap</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-6">
                <h3>Yazılımcılar İçin Giriş</h3>
                <hr />
                <a href="/Uye/YazilimciGiris/" class="boxed-btn3">Yazılımcı Olarak Giriş Ol</a>
                <br /><br />
                <p>* Yazılımcı Olarak Giriş Yaptığın Zaman Açık Bütün Yazılım İşlerine Teklif Verebilirsin.</p>
            </div>
            <div class="col-md-6">
                <h3>İş Verenler İçin Giriş</h3>
                <hr />
                <a href="/Uye/IsVerenGiris/" class="boxed-btn3">İş Veren Olarak Giriş Ol</a>
                <br /><br />
                <p>* İş Veren Olarak Giriş Yaptığın Zaman Yeni Yazılım İşleri Oluşturup Yayınlayabilirsin.</p>
            </div>
        </div>

    </div>
</div>
<!-- featured_candidates_area_end  -->
