
@{
    ViewData["Title"] = "UyelikBasari";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div classNedir="bradcam_text">
                    <h3>Üyelik Sonuç</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">

        <div class="col-md-8 text-center mx-auto">
            <h3>Üye Olma İşlemi Başarılı</h3>
            <hr />
            <p>
                Başarılı Bir Şekilde Üye Oldunuz. Lütfen Giriş Yaparak Profilinizdeki Eksik Kısımları Doldurunuz. Eksik Kısımların Doldurulmasının Ardından Hesabınız Sistem Yöneticileri Tarafından Onaylanma İşlemine Alınacaktır. Hesap Onayının Yapılması Durumunda Mail Adresinize Bilgi Mesajı Gönderilecektir.
            </p>
            <a href="/Uye/YazilimciGiris/" class="boxed-btn3">Yazılımcı Girişi Yap</a>
            <a href="/Uye/IsVerenGiris/" class="boxed-btn3">İş Veren Girişi Yap</a>
        </div>

    </div>
</div>
<!-- featured_candidates_area_end  -->
