
@{
    ViewData["Title"] = "UyeOl";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div classNedir="bradcam_text">
                    <h3>Üye Ol</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-6">
                <h3>Yazılımcılar İçin Üyelik</h3>
                <hr />
                <a href="/Uye/YazilimciUyeOl/" class="boxed-btn3">Yazılımcı Olarak Üye Ol</a>
                <br /><br />
                <p>* Yazılımcı Olarak Üye Olduğun Zaman Açık Bütün Yazılım İşlerine Teklif Verebilirsin.</p>
            </div>
            <div class="col-md-6">
                <h3>İş Verenler İçin Üyelik</h3>
                <hr />
                <a href="/Uye/IsVerenUyeOl/" class="boxed-btn3">İş Veren Olarak Üye Ol</a>
                <br /><br />
                <p>* İş Veren Olarak Üye Olduğun Zaman Yeni Yazılım İşleri Oluşturup Yayınlayabilirsin.</p>
            </div>
        </div>

    </div>
</div>
<!-- featured_candidates_area_end  -->
