
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutMain</title>
</head>
<body>
    <div>Navbar</div>
    @RenderBody()
    <div>Footer</div>
</body>
</html>
